@use "mixins" as m;
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@font-face {
  font-family: "Rick and Morty";
  src: url("../../fonts/get_schwifty.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-image: url("/src/images/bg.jpg");
  background-repeat: none;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

header {
  @include m.vertical-center;
  width: 100%;
  padding: 4rem 0;
  gap: 2rem;

  .logo-container {
    height: 100%;
    width: 50%;

    @media (min-width: 1024px) {
      width: 25%;
    }

    img {
      width: 100%;
    }
  }

  .browser-container {
    @include m.vertical-center;
    height: 100%;
    width: 70%;
    font-family: "Rick and Morty";
    gap: 1rem;

    @media (min-width: 1024px) {
      width: 40%;
    }

    input {
      width: 100%;
      height: 3.5rem;
      background-color: rgb(23, 159, 185, 0.31);
      border: 2px solid #c7d555;
      border-radius: 1.2rem;
      color: #c7d555;
      padding: 0.5rem;
      outline: none;
    }

    .tags-container {
      width: 100%;
      @include m.horizontal-center;
      justify-content: center;
      gap: 2rem;

      button {
        background-color: rgb(23, 159, 185, 0.31);
        border: 2px solid #c7d555;
        border-radius: 1.2rem;
        color: #c7d555;
        padding: 0.5rem;
        outline: none;
      }

      button:hover {
        box-shadow: 0px 0px 10px #c7d555;
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}

/* MAIN TODOS LOS PERSONAJES*/
.all-characters-main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;

  .all-characters__container {
    background-color: rgba(240, 239, 239, 0.1);
    border-radius: 1.2rem;
    flex-grow: 1;
    max-width: 300px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    height: calc(496.94px - 22rem);


    .all-characters__image-container {
      filter: drop-shadow(0px 0px 5px #c7d555);
      overflow: hidden;
      width: 60%;
      margin: 2rem auto;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .all-characters__name {
      width: 100%;
      background-color: rgba(16, 31, 50, 0.9);
      text-align: center;
      padding: 2rem 0;
      display: block;

      h2 {
        width: 100%;
        font-size: 1.5rem;
        font-family: "Rick and Morty";
        color: #17adca;
        text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333,
          1px 1px 1px #333;
        filter: drop-shadow(0px 0px 2px #c7d555);

        color: white;
      }
    }

    .all-characters__info {
      background-color: rgba(16, 31, 50, 0.9);
      height: 0;
      overflow: hidden;
      color: white;
      transition: height 0.5s ease-in-out;
      display: flex;
      padding: 0rem 2rem;
      flex-direction: column;
      justify-content: space-evenly;
      width: 90%;

      .info__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
        font-family: "Space Mono", monospace;
        font-size: 1.4rem;
        text-align: center;
      }

      .status__wrapper {
        .status {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;

          img {
            height: 2rem;
          }
        }
      }

      .more-info {
        width: 50%;
        margin: 0 auto;
        cursor: pointer;
        justify-content: center;
        font-weight: 700;
        align-items: center;
        border-radius: 1.2rem;
      }
    }

    .all-characters__info.visible {
      height: 22rem;
      display: flex;
    }
  }

  .all-characters__container.expand {
    height: 496.94px;
  }
}

.all-characters__container:hover {
  box-shadow: 0px 0px 10px #c7d555;
  cursor: pointer;
  transform: scale(1.1);
}





/*!MAIN TODOS LOS PERSONAJES */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 90%;
  margin: 2rem auto;
  gap: 2rem;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;

    img {
      width: 4rem;
    }
  }
}